@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
html{
    scroll-behavior: smooth;
}

h1{
    color:#fdbcb4;
    padding-bottom: 2%;
    font-family: 'Monda', sans-serif;
    font-size: 60px;
    
}
h4{
    color:#fdbcb4;
    font-family: 'Monda', sans-serif;
}
#home-es, #mundo, #navbar-es, #contactame, #sobremi, #proyecto{
    display: block;
}

#home-right-en, #world, #navbar-en, #contact-me, #aboutme, #project{
    display: none;
}


/* SECCION: HOME - navbar*/
.navbar-light .navbar-nav .nav-link{
    text-align: center;
    font-family: 'Monda', sans-serif;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#fdbcb4;
}

.zoom:hover {
    transform: scale(1.2);
} 
.switch{
    size: 50%;
    font-size: 16px;
}

/* SECCION: HOME - imagen*/
#hand-right, #hand-left{
    width: 33%;
    position: absolute; 
}
#hand-right{
    margin-top: 28vh;
}
#hand-left{
    margin-left: 128vh;
    margin-top:18vh;
}

.hello-world{
    font-family: 'Monda', sans-serif;
    color: #fdbcb4;
    font-size: 60px; 
    position: absolute;
}
#tag-der{
    margin-left: 125vh;
    margin-top: 32vh;
    transform: rotate(-20deg) ;
}
#tag-izq{
    margin-left:61vh;
    margin-top: 40vh;
    transform: rotate(-7deg)
}
#hello, #hola{
    margin-left: 68vh;
    margin-top: 35vh;
    transform: rotate(-7deg)
}
#world, #mundo{
    margin-left: 96vh; 
    margin-top: 32vh;
    transform: rotate(-5deg)
}
#im, #soy{
    margin-left: 71vh; 
    margin-top: 44vh;
    transform: rotate(-7deg)
}
#natalia{
    margin-left: 92vh; 
    margin-top: 41vh;
    transform: rotate(-7deg)
}


/* SECCION: ABOUT*/
#page2{
    position: absolute;
    margin-top: 110vh;
}
.profile-photo {
    width:300px;
    height:300px;
    border-radius:160px;
    border:6px solid #666; 
    margin-left: 10vh;
   
}
#fe-ca{
    color:#fdbcb4;
    font-size: 30px;
    font-family: 'Monda', sans-serif;
    padding-bottom: 3%;
}
.skills-icons{
   flex-direction: row;
}
.icons{
    color: #938f9b;
    width: 8%;
    padding-top: 4%;
    padding-bottom: 4%;
}
#sobremi, #aboutme{
    margin-bottom: 10vh;
    margin-top: 5vh;
}
#sobremi, #aboutme, #project, #proyecto, #contactame, #contact-me{
    font-family: 'Monda', sans-serif;
    color: #fff;
    text-shadow: 0px 0px 1vw #cecccb; 
    text-align: center;
    font-size: 70px;
    font-weight: 900;
}

/*SECCION: PROPECTOS*/
#page3{
    position: absolute;
    margin-top: 220vh;  
    
}

.pinkcard{
    width: 100px;
    height: 450px;
    background-color: #fdbcb4;
    margin: 2%
}
.all-cards{
    align-content: center;
    justify-content: center
}
.logo-project{
    width: 80%;
    margin-top: 10%;
    margin-left: 6%;
}
.icon-project{
    width: 40%;
}
#project #proyecto{
    margin-bottom: 5vh;
    margin-top: 5vh;
    
}
/*SECCION: CONTACTO*/
#page4{
    position: absolute;
    margin-top:20vh;
}
#contactame #contact-me{
    margin-bottom: 10vh;
}
.all-contact{
    margin-bottom: 30vh; 
    margin-left: 45vh
}
.contact-icons{
    width: 12%;
    margin: 5%;
}


/*BOTON SWITCH LANGUAGE*/
.btn-switch{
    position: relative;
    display: inline-block;
    width: 3.6rem;
    height: 2rem;
   
}
    
.btn-switch input {   
    opacity: 0;
    width: 0;
    height: 0;  
   
}
    
.switch{ 
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;   
    border-radius: 20px;  
}
    
.switch:before {
    position: absolute;
    content: "";
    height: 1.6rem;
    width: 1.6rem;
    left: 0.2rem;
    bottom: 0.2rem;
    background-color: white;
    transition: .4s;
    border-radius: 20px; 
}
    
input:checked + .switch { 
    background-color: #fdbcb4;
    border-radius: 20px; 
    
    
}
    
input:checked + .switch:before {
    transform: translateX(1.6rem);
    border-radius: 20px; 
}


