@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monda&display=swap');

.about-p .contact-p{
    color: #938f9b;
    font-family: 'Oxygen', sans-serif;
}
h2{
    color:#fdbcb4;
    font-family: 'Oxygen', sans-serif;
}
h3,h6{
    margin:2px;
    color: #938f9b;
    font-family: 'Oxygen', sans-serif;
}

.profile-photo{
    margin-top:75vh;
    width:200px;
    height:200px;
    border-radius:160px;
    border:2px solid #908b97;  
}
.container-profile{
    display: flex;
    flex-direction: column;
    margin-top: -20%;
}
.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-item, .nav-link {
    text-align: center;
    font-size: 16px;
    z-index: 1;
}
.photo-back{
    position: absolute;
    margin-top:40vh;
    z-index: -3;
    width: 100%;
    height: 50%;
    opacity: 0.5;
}
#hand-right, #hand-left{
    position: absolute;
    z-index: 0;
    margin-top:16vh;
    width: 90%;
}
#hand-right{
    margin-left: 10%;
}
#hand-left{
    margin-right: 20%;
}
.hello-world{
    position: absolute;
    z-index: 0;
    font-family: 'Monda', sans-serif;
    color: #ffffff;
}
#tag-der{
    margin-left: 66.5%;
    font-size: 50px;  
    margin-top: 53vh;
    transform: rotate(-15deg) 
}
#tag-izq{
    margin-left: 33%;
    font-size: 50px;  
    margin-top: 62vh;
    transform: rotate(-7deg)
}
#hello{
    margin-left: 36%;
    font-size: 60px;  
    margin-top: 59vh;
    transform: rotate(-7deg)
}
#world{
    margin-left: 53%;
    font-size: 60px;  
    margin-top: 54vh;
    transform: rotate(-5deg)
}

.footer{
    background-color: #fdbcb4;
    color: #938f9b
}

.skills-icons{
   flex-direction: row;
}

.icons{
    color: #938f9b;
    width: 3%;
    
}
.zoom:hover {
    transform: scale(1.5);
}

